*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.title{
  font-size: 100px;
  background-color: #7CB9E8;
  text-align: center;
  padding:12px;
  margin-bottom: 36px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App{
  display: flex;
  flex-direction: center;
  justify-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #7CB9E8;
}